<mv-header title="Spieldetails"></mv-header>

<div ng-controller="GameDetailController" ng-hide="showLogin">
    <div class="detail-items">
        <div class="col-12" ng-show="currentItem.spielNr !== ''">
            <div class="form-group">
                <label class="col-3 control-label">SpielNr.</label>
                <div class="col-9">{{currentItem.spielNr}}</div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label class="col-3 control-label">Liga</label>
                <div class="col-9">{{currentItem.liga}}</div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label class="col-3 control-label">Beginn</label>
                <div class="col-9">{{currentItem.start | date:'dd.MM.yy HH:mm'}} Uhr</div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label class="col-3 control-label">Heim</label>
                <div class="col-9">{{currentItem.heim}}</div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label class="col-3 control-label">Gast</label>
                <div class="col-9">{{currentItem.gast}}</div>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label class="col-3 control-label">Halle</label>
                <div class="col-9">
                    <div>{{currentItem.halle}}</div>
                    <div ng-bind-html-unsafe="currentItem.halleAdresse | addBreak"></div>
                </div>
            </div>
        </div>
        <div class="col-12" ng-repeat="j in currentItem.jobs">
            <div class="form-group">
                <label class="col-3 control-label">{{j.name}}</label>
                <div class="col-9">
                    <div ng-class="{ 'unbesetzt' : j.executor.name === '' }">
                        <div>{{j.executor.name || "unbesetzt" }} <span ng-show="j.type === 'extern'">(j.type)</span></div>
                        <div ng-show="j.gruppe !== ''"><small>Team: {{j.gruppe}}</small></div>
                    </div>
                    <div ng-show="j.executor.email !== ''">{{j.executor.email}}</div>
                    <div ng-show="j.executor.telefon !== ''" ng-click="call(j.executor.telefon)" ng-bind-html-unsafe="j.executor.telefon | addBreak"></div>
                </div>
            </div>
        </div>

    </div>

</div>
