
<mv-header title="Login"></mv-header>

<div ng-controller="LoginController">

    <div class="container">
        <form role="form" style="text-align: center;">
            <div class="row" style="margin-top: 2em;">
                <div class="col-md-12 form-group">
                    <input id="email" class="form-control" type="email" value="{{user.email}}" placeholder="E-Mail"/>
                </div>
                <div class="col-md-12 form-group">
                    <input id="pass" class="form-control" type="password" placeholder="Passwort" value="{{user.password}}"/>
                </div>
                <div>
                    <button ng-click="login()" class="btn btn-default" type="submit">Anmelden</button>
                </div>
            </div>
        </form>
    </div>
</div>
<ng-include src="'partials/settingsOverlay.html'"></ng-include>